<div class="jumbotron">
    <h1>VTS To Do List API</h1>
    <p class="lead">Platform: <strong>Microsoft ASP.NET WebAPI 2</strong></p>
    <p><a href="http://vtstodogui.azurewebsites.net" class="btn btn-primary btn-lg">User Interface</a></p>
</div>
